<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.phonegap.getting.started"
	version 	= "0.1.0">

	<name>jQuery Mobile Phonegap Kitchen Sink</name>

	<description>
    A kitchen sink page for testing with phonegap on various platforms
	</description>

	<author href="http://github.com/johnbender"
          email="john.m.bender@gmail.com">
    John Bender
	</author>

	<icon src="icon.png" gap:role="default" />
	<preference name="orientation" value="portrait" />
</widget>
